# autotools- and configure-generated
/build-aux/install-sh
/build-aux/missing
confdefs.h
Makefile.in
Makefile
aclocal.m4
*.cache/
configure
/config.*
conf.sh

# Rust/Cargo-generated
/target/

# Manual debugging conventions
/*.log
/*.out
/foo*
/scratch.rs
/*.objdump

