# Ignored files for The TAME Programming Language Git repository

# Targets
*.pdf
*.dvi

# (La)TeX
*.aux
*.fls
*.log
*.out
*.toc

# Index
*.idx
*.ilg
*.ind

# latexmk
*.fdb_latexmk

# configure
conf.tex
aclocal.m4
autom4te.cache
config.status
configure

